<div class="container text-center mt-3">
    <h2>Welcome to the Chat App</h2>
</div>
<div class="main text-center mt-4 border border-light rounded mb-4 pb-4 overflow-auto" >
    <div class="message-container">
    </div>
</div>
<div class="submit-group container text-center">
    <form class="send input-group mb-3 " id="send-container">
        <input type="text" class="form-control" name="messageInp" id="messageInp" placeholder="Type your message here">
        <button class="btn btn-danger" type="submit">Submit</button>
    </form>
</div>  